Source: xtee-misp2-application
Section: contrib/web
Priority: optional
Maintainer: NIIS <info@niis.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: xtee-misp2-application
Architecture: amd64
Depends: xtee-misp2-base, xtee-misp2-orbeon, debconf (>= 0.2.17)
Description: MISP2 web application installation package
