# This definition stops the following lines choking if HOME isn't
# defined.
HOME            = .
pid           =   $ENV::IPID
[ ca ]
default_ca      = CA_default            # The default ca section

[ CA_default ]
database        = /tmp/index.$pid.txt


default_days    = 365
default_crl_days= 30
default_md      = sha256
preserve        = no

[ req ]
default_bits            = 2048
distinguished_name      = req_ESTEID_name
default_md = sha256
prompt = no


[ req_ESTEID_name ]
C                      = FI
O                      = NIIS
OU                     = MISP2
CN                     = ESTEID Test for client certificate authentication
emailAddress           = teemu.kurki@gofore.com

[ auth_ext ]
basicConstraints = CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment, dataEncipherment, keyAgreement
extendedKeyUsage = clientAuth


