Source: xtee-misp2-postgresql
Section: contrib/web
Priority: optional
Maintainer: NIIS <info@niis.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: xtee-misp2-postgresql
Architecture: any
Description: PostgreSQL database setup package for MISP2 web application
Depends: postgresql-10, debconf (>= 0.2.17), perl