Source: xtee-misp2-orbeon
Section: unknown
Priority: optional
Maintainer: OÜ Aktors <info@aktors.ee>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: xtee-misp2-orbeon
Architecture: amd64
Depends: xtee-misp2-base, debconf
Description: Orbeon XForms engine installation package for MISP2 web application
